@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');

body {
  background-color: #dadac6;
  font-family: 'Hind Madurai', sans-serif;
}

#info-desc-mani{
  padding: 3px;
}

#scan-e-lettera{
  display: inline-block;
  float: left;
  margin-top: 15px;
}

/* #icona_apertura_fileDesc {
  margin-left:10px;
  display: inline;
  float:left;
  outline: none;
  width: 15px;
} */
/* #icona_spegni{
  opacity: 0.9;
  margin-top: 10px;
  margin-left: 44%;
  outline: none;
  width: 17px;
  margin-bottom: -5px;
} */
#icona_istruzioni {
  margin-left: 10px;
}
.icone{
  width: 30px;
  outline:none;
}
.icone:hover {
  opacity: 0.3;
  cursor: pointer;
}
/* #icona_spegni:hover {
	opacity: 0.3;
} */

.articoli_box {
  max-width: 350px;
	border-radius: 30px;
	background-color: #c1c1a4;
	color: #474234;
  margin-left:5px;
  font-size: 14px;
  display: inline-block;
  float: left;
  padding-top: 5px;
  padding-bottom: 10px;
}

.desc_manos_insieme {
  max-width: 825px;
	border-radius: 30px;
	background-color: #c1c1a4;
	color: #474234;
  margin-bottom: 8px;
  margin-left: 15px;
  padding-right: 30px;
  font-size: 15px;
  line-height: 20px;
  display: inline-block;
  float: left;
}
/* .desc_manos_senza {
  max-width: 770px;
  padding: 23px 40px  5px 5px;
	border-radius: 40px;
	background-color: #c1c1a4;
	color: #474234;
  margin-bottom: 8px;
  margin-left:10px;
  font-size: 16px;
  text-align: justify;
  float: left;
  line-height: 25px;
} */
#descrizione_manoscritto a:hover{
  opacity: 1.0;
}
#descrizione_manoscritto h2{
  padding-left: 40px;
}

.mani_insieme {
  max-width: 600px;
  padding: 20px 25px;
  border-radius: 30px;
  background-color: #c1c1a4;
  color: #474234;
  margin-left: 4px;
  font-size: 15px;
  display: inline-block;
  float: right;
}
/* .mani_senza {
  float: top;
  margin-right: 40px;
  margin-left: 61%;
  margin-bottom: 90px;
  max-width: 620px;
  padding: 23px 40px  45px 30px;
  border-radius: 40px;
  background-color: #c1c1a4;
  color: #474234;
  font-size: 16px;
} */
.mani_insieme h2{
  margin-top:0px;
}

.nascoste{
  background-color: #adab86;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 5px 10px 5px 10px;
  border-radius:15px;
}
.nascoste:first-child {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

#fileDesc h2 {
  color: black;
  font-weight: bold;
  line-height: 13px;
}

.nascoste ul{
  line-height: 13px;
}

.immagini_lettera {
  display: inline-block;
  max-width: 725px;
  float: left;
}

#immagini_lettera {
  float: left;
  margin-left: 5px;
  margin-top: 0px;
  background-color: #c1c1a4;
  padding: 25px;
  border-radius: 40px;
}

#pulsanti_immagini_lettera{
  text-align: center;
  margin-bottom: 10px;
}

#immagini_lettera h2{
  color: #474234;
}

.icone_numeri:hover{
  opacity: 0.3;
}
.icone_numeri{
  outline: none;
  width: 30px;
}
.iconaSelezionata{
  opacity: 0.5;
  width: 30px;
  outline: none;
}
#front_e_body_lettera{
  float: right;
  margin-top:0px; 
  margin-left: 10px;
  background-color: #c1c1a4;
  padding: 19px 15px 20px 25px;
  border-radius: 35px;
  width: 600px;
  font-size: 16px;
}

.contenuto_front {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-bottom: 10px;
  color: #474234;
  background-color: #adab86;
  padding: 15px 15px 15px 50px;
  font-size: 16px;
  line-height: 15px;
}

#contenitore_scrollbar{
  overflow: scroll;
  height: 1130px;
  border-radius: 25px;
  overflow-x: hidden;
  color: #474234;
}
::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}
::-webkit-scrollbar-track {
  background:transparent; 
  border-radius: 10px; 
}
::-webkit-scrollbar-thumb {
  background:#76905d9d;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #7f8a7e;
}
::-webkit-scrollbar-corner { 
  background:transparent; 
}

#contenitore_titolo_e_front select, .contenuto_front select{
  background-color: #c1c1a4;
  border-radius: 6px; 
  border: 1px solid #c1c1a4;
  color: brown;               
  font-style: italic;    
  font-weight: bold;        
  padding: 0;             
  height: 25px; 
  outline: none;
}

#icona_apertura_front{
  width: 24px;
  outline: none;
}
.ruota {
  transform:rotate(180deg);
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Safari e Chrome */
  
}
.titolo_front_insieme{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-bottom: 0px;
  background-color: #adab86;
  padding: 25px 25px 25px 25px;
}
.titolo_front_senza{
  background-color: #adab86;
  border-radius: 55px;
  padding: 25px;
  margin-bottom:10px;
}

#opener_lettera, #contenitore_body h2 {
  margin-left: 15px;
}

#contenitore_body{
  background-color: #adab86;
  padding: 10px;
  padding-top:20px;
  line-height: 85%;
  border-radius: 15px;
  font-size: 16px;
}
#contenitore_body select {
  background-color: #c1c1a4;
  border-radius: 6px; 
  border: 1px solid #c1c1a4;
  color: black;               
  font-style: italic;    
  font-weight: bold;        
  padding: 0;             
  height: 25px;    
  outline: none;       
  cursor: pointer; 
}

.istruzioni{
  float: right;
  display: block;
  background-color:  #c1c1a4;
  border-radius: 30px;
  padding: 20px;
  margin: 15px 10px 50px 5px;
  font-size: 16px;
  color: #474234;
  width: 400px;
}
#istruzioni li {
  font-size: 14px;
  margin-top: 10px;
  line-height: 20px;
  margin-right: 25px;
}

#contenitore_note{
  float: left;
  background-color:  #c1c1a4;
  border-radius: 40px;
  padding: 20px;
  margin: 10px;
  margin-top:30px;
  margin-bottom: 50px;
  font-size: 16px;
  color: #474234;
}
#persone_citate{
  float:left;
  background-color: c1c1a4;
  border-radius: 40px;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 90px;
  padding: 10px;
  font-size: 16px;
  line-height: 26px;
  color: #474234;
  overflow: scroll;
  height: 420px;
  width: 1030px;
}

#persone_citate li{
  overflow: scroll;
  height: 250px;
  max-width: 280px;
  display: inline;
  float: left;
  margin: 15px;
  padding: 6px;
  font-size: 15px;
}
#persone_citate li a:hover{
  opacity: 1.0;
}
#persone_citate li a:link{
  text-decoration: underline;
}
#persone_citate h2{
  text-align: center;
}
#luoghi_citati{
  float:right;
  max-width: 370px;
  background-color: #c1c1a4;
  border-radius: 55px;
  margin: 5px;
  padding: 20px;
  font-size: 16px;
  line-height: 26px;
  color: #474234;
}

#bibliografia{
  margin-bottom: 10px;  
  margin-left: 5px;
  background-color: #c1c1a4;
  border-radius: 44px;
  padding: 20px;
  font-size: 16px;
  line-height: 26px;
  color: #474234;
  max-width: 300px;
  float:left;
}
#bibliografia2{
  background-color: #c1c1a4;
  border-radius: 44px;
  bottom: 20px;
  padding: 20px;
  margin-left:10px;
  font-size: 16px;
  color: #474234;
  line-height: 26px;
  max-width: 700px;
  float:left;
}
#terminologia{
  float:right;
  background-color: #c1c1a4;
  border-radius: 55px;
  margin: 5px;
  padding: 30px;
  font-size: 16px;
  line-height: 26px;
  color: #474234;
  max-width: 335px;
  height: 620px;
}

#bibliografia li a:hover, #bibliografia2 li a:hover, #luoghi_citati li a:hover, #terminologia a:hover{
  opacity: 1.0;
}

#luoghi_citati sub{
  font-size:12px;
  text-decoration: none;
  color: brown;
}

sub {
  font-size: 16px;
  color:brown;
  text-decoration: none;
}
sup {
  font-size:16px;
  color: brown;
  text-decoration: none;
}
a:link, a:visited{
  text-decoration: none;
  color: brown;
}
a:hover{
  opacity: 0.2;
}
:target {
  color: black;
  font-weight: bold;
  animation: blink-animation 0.8s steps(5, start) 3;
  -webkit-animation: blink-animation s steps(5, start) 3;
}
#corpo_della_lettera :target, #mani :target, .desc_manos_insieme :target{
  color: red;
  font-size:28px;
  font-weight: bold;
  animation: blink-animation 0.8s steps(5, start) 3;
  -webkit-animation: blink-animation s steps(5, start) 3;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

/*Altre classi usate in Javascript*/
.nascondi {
  display: none;
}

.dot {
  background-repeat: no-repeat;
  background-position: center;
  font-size: 20px;
}

.dot_perCatania {
  animation: blink-animation 0.8s steps(5, start) 4;
  -webkit-animation: blink-animation s steps(5, start) 4;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.freccia_sopra{
  font-size: 40px;
  background-image: url('freccia_sopra.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* Dividore estetico */
hr.rounded {
  margin-top: 800px;
  border: 3px solid #627455;
  opacity: 0;
  border-radius: 5px;
}
