@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #dadac6;
  font-family: 'Fjalla One', sans-serif;
}

#icona_apertura_fileDesc {
  margin-right: 5px;
  margin-left:10px;
  display: inline;
  float:left;
  outline: none;
}
#icona_spegni{
  opacity: 0.6;
  margin-top: 4px;
  margin-left: 44%;
  outline: none;
}
.icone{
  width: 30px;
}
.icone:hover {
  opacity: 0.3;
  cursor: pointer;
}
#icona_spegni:hover {
	opacity: 0.3;
}



.articoli_box {
  width: 400px;
	padding: 23px 40px  5px 30px;
	border-radius: 80px;
	background-color: #c1c1a4;
	color: #474234;
  margin-bottom: 60px;
  margin-left:30px;
  font-size: 15px;
  float: left;
}

.desc_manos_insieme {
  max-width: 1200px;
  padding: 23px 40px  5px 30px;
	border-radius: 80px;
	background-color: #c1c1a4;
	color: #474234;
  margin-bottom: 8px;
  margin-right:30px;
  font-size: 17px;
  line-height: 25px;
  text-align: justify;
  float: right;
}
.desc_manos_senza {
  max-width: 990px;
  padding: 23px 40px  5px 30px;
	border-radius: 80px;
	background-color: #c1c1a4;
	color: #474234;
  margin-bottom: 8px;
  margin-left:30px;
  font-size: 16.5px;
  text-align: justify;
  float: left;
  line-height: 25px;
}

.mani_insieme {
  max-width: 1200px;
  padding: 23px 40px  45px 30px;
  border-radius: 80px;
  background-color: #c1c1a4;
  color: #474234;
  margin-right: 30px;
  margin-bottom: 240px;
  font-size: 18px;
  line-height: 90%;
  text-align: justify;
  float: right;
}
.mani_senza {
  float: top;
  margin-left: 62%;
  margin-bottom: 90px;
  max-width: 620px;
  padding: 23px 40px  45px 30px;
  border-radius: 80px;
  background-color: #c1c1a4;
  color: #474234;
}

.nascoste{
  background-color: #adab86;
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 2px;
  margin: 5px 5px 5px 5px;
  border-radius:15px;
}

#fileDesc h2 {
  color: black;
  font-weight: bold;
  line-height: 13px;
}

.nascoste ul{
  line-height: 13px;
}

.immagini_lettera {
  width: 700px;
  display: block;
}

#immagini_lettera {
  float: left;
  margin-left: 5%;
  margin-top:40px;
  background-color: #c1c1a4;
  padding: 25px;
  border-radius: 55px;
}

#pulsanti_immagini_lettera{
  text-align: center;
  margin-bottom: 10px;
}

.icone_numeri:hover{
  opacity: 0.3;
}

#front_e_body_lettera{
  float: right;
  margin-right: 10%;
  background-color: #c1c1a4;
  padding: 25px;
  border-radius: 35px;
}
.contenuto_front {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  margin-bottom: 10px;
  background-color: #adab86;
  padding: 25px;
}

#front_e_body_lettera{
  width:650px;
  margin-top:35px;  
}

#contenitore_scrollbar{
  overflow: scroll;
  height: 1110px;
  border-radius: 55px;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #c1c1a4;
}
::-webkit-scrollbar-track {
  background:#c1c1a4; 
  border-radius: 10px; 
}
::-webkit-scrollbar-thumb {
  background:#76905d9d;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #7f8a7e;
}
::-webkit-scrollbar-corner { 
  background: #c1c1a4; 
}

#div_scomparsa{
  margin-bottom: 186px;
}

#contenitore_titolo_e_front select, .contenuto_front select{
  background-color: #c1c1a4;
  border-radius: 6px; 
  border: 1px solid #c1c1a4;
  color: brown;               
  font-style: italic;    
  font-weight: bold;        
  padding: 0;             
  height: 25px; 
}

#icona_apertura_front{
  width: 24px;
  outline: none;
}
.ruota {
  transform:rotate(180deg);
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Safari e Chrome */
  
}
.titolo_front_insieme{
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  margin-bottom: 0px;
  background-color: #adab86;
  padding: 45px 25px 25px 25px;
}
.titolo_front_senza{
  background-color: #adab86;
  border-radius: 55px;
  padding: 25px;
  margin-bottom:10px;
}

#contenitore_body{
  background-color: #adab86;
  border-radius: 55px;
  padding: 25px;
  line-height: 85%;
  font-size: 19px;
}
#contenitore_body select{
  background-color: #c1c1a4;
  border-radius: 6px; 
  border: 1px solid #c1c1a4;
  color: black;               
  font-style: italic;    
  font-weight: bold;        
  padding: 0;             
  height: 25px;            
}

#contenitore_note{
  width: 90%;
  float: left;
  background-color: red;
  margin: 20px;
}
#persone_citate{
  float:left;
}
#luoghi_citati{
  float:left;
}
#bibliografia{
  float:left;
}
#bibliografia2{
  float:left;
}
#terminologia{
  float:left;
}


sub {
  font-size: 18px;
  color:brown;
  text-decoration: none;
}
sup {
  font-size:27px;
  color: brown;
  text-decoration: none;
}
a:link, a:visited{
  text-decoration: none;
}
a:hover{
  opacity: 0.2;
}

/*Altre classi usate in Javascript*/
.nascondi {
display: none;
}

