body {
    font-family: Helvetica, Arial, sans-serif;
    margin:15px;
}

/*.dropdown {
    margin-left: 20%;
  }

  .dropdown .dropbtn {
    font-size: 130%;
    margin: 20px;
    font-variant: small-caps;
    color: #023f49;
    border-color: black;
    border-width: 4px;
    border-radius: 50%;
    background-color: #09d1b6;
    float: left;
    display: block;
    width: 15%;
    height: 15%;
  }

  .dropdown .dropbtn:hover{
      background-color: rgb(5, 163, 168);
      cursor: pointer;
  }
*/
  .dropdown-content {
    display: block;
    width: 30%;
    border: 1px solid;
    border-color: black;
    background-color: #f9f9f9;
    padding: 3px;
  }

  h2 {
    color: red;
  }

  .dropdown-content h2 {
    color: black;
    text-align: left;
  }

  #descrizione_manoscritto {
    display: block; 
    float: left; 
    margin-top: 12px;
    text-align: left;
  }